/* Write your CSS code here */
.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.profile {
  height: 140px;
  width: 140px;
}
.name {
  font-family: 'Roboto';
  font-size: 24px;
  color: #12022f;
}
